/*selectores*/
/*1.-Etiquetas*/
/*2.-Identificadores*/
/*3.-Clases*/
body /*Selector - etiqueta*/
{
	/*atributo:valor;*/
	border: 1px solid blue;
	border-radius: 5px;
	margin: 0px auto;
	max-width: 1024px;
}
header
{
	background: blue; /*Fondo*/
	border: 1px solid red; 
	color: white; /*Letra*/
	/*padding: 0px 0px 10px 0px;*/
	text-align: center; /*Alineacion*/
}
header img
{
	float: right;
	width: 100px; /*Ancho de la imagen*/
	margin: -70px 30px 0px 0px;
}
header nav ul li
{
	/*border: 1px solid red;*/
	background: orange;	/*color de fondo*/
	border-radius: 5px;	/*bordes redondeados*/
	box-shadow: 2px 2px; /*caja en el fondo (sombra)*/
	display: inline-block; /*Rompe modelo de caja*/
	/*width: 80;*/
	/*margin: 5px 3px;*/
	/*padding: 5px 3px;*/
	margin: 0px 10px 10px 0px;  /*Separo las cajas*/
	padding: 5px 10px; /*agrando los botones (interno)*/
	width: 80px;		/*Ancho del boton*/
}
header nav ul li:hover /*mouse por encima*/
{
	background: white;
	color: orange;
}