/*selectores*/
/*0.-directivas @*/
/*1.-Etiquetas*/
/*2.-Identificadores*/
/*3.-Clases*/
@font-face{
	/*nombre de la fuente*/
	font-family:'Coming Soon';
	/* ¿Donde esta el archivo? */
	src:url('font/ComingSoon.ttf');
}

body /*Selector - etiqueta*/
{
	/*atributo:valor;*/
	border: 1px solid blue;
	border-radius: 5px;
	font-size: 16px; /*tamaño de fuente estandar*/
	margin: 0px auto;
	max-width: 1024px;
}
header h1 {
	/*agregamos la fuente al h1*/
	font-family: 'Roboto', sans-serif;
}


header
{
	background: blue; /*Fondo*/
	border: 1px solid red; 
	color: white; /*Letra*/
	/*padding: 0px 0px 10px 0px;*/
	text-align: center; /*Alineacion*/
}
header img
{
	float: right;
	width: 100px; /*Ancho de la imagen*/
	margin: -70px 30px 0px 0px;
}
header nav ul li
{
	/*border: 1px solid red;*/
	background: orange;	/*color de fondo*/
	border-radius: 5px;	/*bordes redondeados*/
	box-shadow: 2px 2px; /*caja en el fondo (sombra)*/
	display: inline-block; /*Rompe modelo de caja*/
	font-family: 'Open Sans', sans-serif;
	/*width: 80;*/
	/*margin: 5px 3px;*/
	/*padding: 5px 3px;*/
	margin: 0px 10px 10px 0px;  /*Separo las cajas*/
	padding: 5px 10px; /*agrando los botones (interno)*/
	width: 80px;		/*Ancho del boton*/
}
header nav ul li:hover /*mouse por encima*/
{
	background: white;
	color: orange;
}

footer
{
	border: 1px solid blue;
	font-size: 0.8em;
	text-align: center; /*alineamos todo el texto*/
}

main section 
{
	margin-top: 15px 0px 0px 0px; /*para mover el texto mas abajo*/
}

main section article
{
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top;
	width:  24%;
	font-family: 'Coming Soon';
}