body{
	font-size: 16px; /*1em*/
	margin: 0 auto;	/*centrar todo el body*/
	max-width: 1078px; /*desición de la empresa*/
	min-width: 1078px; 

}
header input{
	float: right;
	margin-right: -200px;
	margin-top: 20px;
	position: relative;
}
header nav ul li{
	border-bottom: 1px solid gray;
	color: gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;
	/*text-decoration: underline;*/
}
#granthams{ /*Logo de la emoresa*/
	margin-top: 20px;
	margin-left: 25px;
}
#paint{
	float: right;
	margin-left: 20px; 
}
